{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}" defer></script>
    {% block js %}
    {% endblock %}
    
    
  

    <title>My Blog -{% block title %} {% endblock %}</title>
</head>
<body>
  <nav id="navbar">
    <div class="">
      <img class="navbar_logo" src="{% static 'img/pngwing.png' %}" alt="logo_icon">
      <a  href="" class="navbar_title" >My Blog</a>
    </div>
    <div class="navbar_menu">
      <a href="" class="navbar_menu_item" ><img class="navbar_menu_logo"src="{% static 'img/github.png' %}" alt="github_icon">Github</a>
      <a href="" class="navbar_menu_item"><img class="navbar_menu_logo"src="{% static 'img/youtube.png' %}" alt="youtube_icon">YouTube</a>
      <a href="" class="navbar_menu_item">Login</a>
      <a href="" class="navbar_menu_item">Logout</a>
    </div>
 
  </nav>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <p>&copy; 2020 MyBlog. Powered By Django</p>
        </footer>
    </div>
</body>
</html>