<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table_content">
        <table class="table">
            <thead>
                <tr>
                   
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>생성일</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>161</td>
                    <td>1613</td>
                    <td>16125</td>
                    <td>161235123</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>