<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main/css/login_popup.css">
    <script src="/main/js/login_popup.js" defer></script>
</head>
<body>
    <div id="login_popup">
        <div class="login">
            <div class="login_head">
                <h3 class="login_title">로그인</h3>
                
                <button class="login_close_button"><img src="/main/img/icon-close.png" alt=""></button>
            </div>
            <hr>
            <div class="login_body">
                <form method="POST">
                    <input class="input_field" type="text" placeholder ="아이디">
                    <input class="input_field" type="password"   placeholder ="비밀번호">
                    <input class="submit_Btn"type="submit" value="로그인">
                </form>
                <div class="check_info ">
                    <input type="checkbox" value="off">
                    <label for="lofin_checkbox">로그인 유지</label>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>