{% extends 'base.html' %}
{% load static %}
<head>
 
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% endblock %}
    {% block js %}
    <!-- <script src="{% static 'js/posts.js' %}"defer></script> -->
    {% endblock %}
{% block title %} List {% endblock %}
</head>

<body>
{% block content %}
    <div>
        <small><a href="">{{posts.category}}</a></small>
        
    </div>

    <div id="detail">
        <div class="head">
            {% if user.is_authenticated and user == posts.author %}
            <div class="opstion">
                <a href="{% url 'post:post_delete' id=posts.id %}", class="button">삭제</a>
                <a href="{% url 'post:post_update' id=posts.id %}", class="button">수정</a>
            </div>
            {% endif %}
            
            <h2 class="title">{{posts.title}}</h2>
            <h5>{{posts.created|date:"Y. m. d. h:i "}}</h5>
        </div>
        <hr>
        <div class='body'>
            {{posts.body|safe}}
        </div>
    </div>

    <div id="comment">
        {% load disqus_tags%}
        {% disqus_show_comments%}
    </div>
{% endblock %}
</body>
