{% extends 'base.html' %}
{% load static %}
<head>
 
    {% block css %}
    <!-- <link rel="stylesheet" href="{% static 'css/posts.css' %}"> -->
    {% endblock %}
    {% block js %}
    <!-- <script src="{% static 'js/posts.js' %}"defer></script> -->
    {% endblock %}
{% block title %} List {% endblock %}
</head>

<body>
{% block content %}

    <div id="detail">
        <div class="head">
            <small><a href="">카테고리</a></small>
            <h1 class="title">{{posts.title}}</h1>
            <h4>{{posts.author}} | {{posts.created|date:"Y. m. d. h:i "}}</h4>
        </div>
        <hr>
        <div class='body'>
            {{posts.body|safe}}
        </div>
    </div>

    <div>
        {% load disqus_tags%}
        {% disqus_show_comments%}
    </div>
{% endblock %}
</body>
