{% extends 'base.html' %}
{% load static %}
<head>
    {% block css %}
    <!-- <link rel="stylesheet" href="{% static 'css/posts.css' %}"> -->
    {% endblock %}
    {% block js %}
    <!-- <script src="{% static 'js/posts.js' %}"defer></script> -->
    {% endblock %}
{% block title %} List {% endblock %}
</head>

<body>
{% block content %}
    <div>
      <div>
          <a href="/" class="{% if not current_category %}active{% endif %}">ALL</a>
          {% for c in catagories %}
            <a href="{{c.get_absolute_url}}" class=" ">{{c.name}}</a>
            </a>
          {% endfor %}
      </div>

<!--  -->
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if posts.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in posts.paginator.page_range %}
          {% if page_number == posts.number %}
          <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if posts.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
      {% endif %}
    </ul>
<!--  -->
          {% if current_category %}
          <h1>{{current_category}}</h1>
          {% else %}
          <h1>ALL POST</h1>
          {% endif %}
          <div>
            {% for p in posts %}
            <h1>{{p.title}}</h1>
            <h4>{{p.author}} / {{p.category}}</h4>
            <div>
              {{p.body|safe}}
              <a href="{{p.get_absolute_url}}">Detail</a>
            {% endfor %}
         
              </div>
          </div>
      </div>
    </div>
{% endblock %}
</body>
