{% extends 'base.html' %}
<head>
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    {% endblock %}
    {% block js %}
    <script src="{% static 'js/posts.js' %}"defer></script>
    {% endblock %}
{% block title %} PostList {% endblock %}
</head>

<body>
{% block content %}
    <ul>
        <h1>Posts</h1>
        {% for post in post %}
            <li><a href="{% url 'postDetail' post.pk %}">{{post.title}} -{{post.author}}{{post.body}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
