* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

#login_popup {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login_head {
  /* display: none; */
  display: flex;
  justify-content: center;
}
.login_close_button {
  border: none;
  padding: 0;

  font-size: 20px;
  background: none;
}
.login_close_button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.login_body .input_field,
.submit_Btn {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  outline: none;
}

.submit_Btn {
  color: white;
  border: none;
  background-color: rgb(3, 199, 90);
}

.check_info {
  text-align: center;
}

.submit_Btn:hover,
.login_close_button:hover {
  cursor: pointer;
}
